{% extends "base.html.twig" %}

{% block title %}{{ folder.getTitleBeautiful() }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {% if folder.parentId | length %}
            <a href='/folder/{{ folder.parentId }}'>Up</a>
        {% endif %}

        <h1>{{ folder.getTitleBeautiful() }}</h1>

        <hr>

        <div class="row" id="thingfolders">
            {% for row in subfolders | batch(10) %}
                <div class="col-4 col-lg-2" id="things_inner">
                    {% for subfolder in row %}
                        <a class="folder" href='/folder/{{ subfolder.id }}'>{{ subfolder.getTitleBeautiful() }}</a><br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="row" id="things">
            {% for thing in things %}
                <div class="col-4 col-lg-2 thing">
                    {% if thing.isImage() %}
                        <a class="thing" href='/poster/{{ thing.posterFile.relFileName }}'
                           title="{{ thing.masterFile.basename }}"
                           data-gallery
                           data-thingId="{{ thing.id }}"
                        >
                            <img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}'
                                 alt="thumbnail">
                        </a>
                    {% elseif thing.isProprietaryMovie() %}
                        <a class='thing'
                           href='/video/{{ thing.derivedVideoFile.relFileName }}'
                           title="{{ thing.masterFile.basename }}"
                           type="video/mp4"
                           data-poster="/poster/{{ thing.posterFile.relFileName }}"
                           data-sources='[{"href": "/video/{{ thing.derivedVideoFile.relFileName }}", "type": "video/mp4"}]'
                           data-gallery
                           data-thingId="{{ thing.id }}"
                        >
                            <img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}'
                                 alt="thumbnail">
                        </a>
                    {% elseif thing.isMovie() %}
                        <a class='thing'
                           href='/master/{{ thing.masterFile.relFileName }}'
                           title="{{ thing.masterFile.basename }}"
                           type="video/mp4"
                           data-poster="/poster/{{ thing.posterFile.relFileName }}"
                           data-sources='[{"href": "/master/{{ thing.masterFile.relFileName }}", "type": "video/mp4"}]'
                           data-gallery
                           data-thingId="{{ thing.id }}"
                        >
                            <img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}'
                                 alt="thumbnail">
                        </a>
                    {% endif %}

                    <p><a href='/download/{{ thing.id }}'>
                            <img class="icon download" src='/img/download.png'>
                        </a></p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}


{% block lightbox %}

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <p class="download"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

{% endblock %}

{% block inlinejavascripts %}

    <script type=application/javascript>

        $('#blueimp-gallery').on('slide', function (event, index, slide) {
//            console.log(index, slide);
            var thingid = $('#things div.thing:nth-of-type(' + (index + 1) + ') a.thing').data('thingid')
//            var thing = $('#things div.thing')[index];
//            var thingid = $(thing).data('thingid')
            $('#blueimp-gallery').find('.download').html("<a href='/download/" + thingid + "'><img class='icon download_poster' src='/img/download.png'></a>");
        });

    </script>

{% endblock %}
