{% extends "base.html.twig" %}

{% block body %}

    <a href='/folder/{{ folder.parentId }}'>Up</a> |

    <h1>{{ folder.title }}</h1>

    <hr>

    {% for subfolder in subfolders %}
        <a href='/folder/{{ subfolder.id }}'>{{ subfolder.title }}</a> |
    {% endfor %}

    <hr>

    <div class="row" id="things">
        {% for thing in things %}
            <div class="col-4 col-lg-2">
                {% if thing.isImage() %}
                    <a class="link" href='/poster/{{ thing.posterFile.relFileName }}' title="poster">
                        <img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}' alt="thumbnail"
                    ></a>
                {% elseif thing.isProprietaryMovie() %}
                    <a
                            href='/video/{{ thing.convertedVideoFile.relFileName }}'
                            title="video"
                            type="video/mp4"
                            data-poster="/poster/{{ thing.posterFile.relFileName }}"
                            data-sources='[{"href": "/video/{{ thing.convertedVideoFile.relFileName }}", "type": "video/mp4"}]'
                    ><img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}' alt="thumbnail">
                    </a>
                {% elseif thing.isMovie() %}
                    <a
                            href='/master/{{ thing.masterFile.relFileName }}'
                            title="video"
                            type="video/mp4"
                            data-poster="/poster/{{ thing.posterFile.relFileName }}"
                            data-sources='[{"href": "/master/{{ thing.masterFile.relFileName }}", "type": "video/mp4"}]'
                    ><img class="thumbnail" src='/thumbnail/{{ thing.thumbnailFile.relFileName }}' alt="thumbnail">
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    </div>

{% endblock %}
