<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('lib/bootstrap-4.1.3-dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('lib/blueimp/css/blueimp-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom-style.css') }}"/>

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>


    {% block body %}{% endblock %}


{% block lightbox %}{% endblock %}

{% block javascripts %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('lib/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('lib/popper1.14.3/popper.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap-4.1.3-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('lib/blueimp/js/jquery.blueimp-gallery.min.js') }}"></script>

{% block inlinejavascripts %}{% endblock %}

</body>
</html>
